@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nova;
    src: url(./fonts/ProximaNovaCond-Black.ttf);
}

@font-face {
    font-family: gorg-medium;
    src: url(./fonts/BasisGrotesquePro-Medium.ttf);
}

@font-face {
    font-family: gorg-regular;
    src: url(./fonts/BasisGrotesquePro-Regular.ttf);
}

@font-face {
    font-family: head;
    src: url(./fonts/head.ttf);
}

@font-face {
    font-family: futura;
    src: url(./fonts/Futura-Bold.ttf);
}

@font-face {
    font-family: boldest;
    src: url(./fonts/medium.otf);
}

@keyframes rotation {
    0% {}

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0);
    }
}

.rotator {
    animation: rotation 4s linear infinite;
}

@keyframes burger {
    0% {}

    50% {
        transform: translateY(20px);
    }

    75% {
        transform: translate(20px);

    }

    100% {
        transform: translateY(0px);
    }

}

.trans {
    animation: burger 4s linear infinite;
}