@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nova;
    src: url(./fonts/ProximaNovaCond-Black.ttf);
}

@font-face {
    font-family: gorg-medium;
    src: url(./fonts/BasisGrotesquePro-Medium.ttf);
}

@font-face {
    font-family: gorg-regular;
    src: url(./fonts/BasisGrotesquePro-Regular.ttf);
}

@font-face {
    font-family: head;
    src: url(./fonts/head.ttf);
}
@font-face {
    font-family: futura;
    src: url(./fonts/Futura-Bold.ttf);
}
@font-face {
    font-family: boldest;
    src: url(./fonts/medium.otf);
}